body {
    font-family: 'Poppins', sans-serif;
}

.top-banner {
    text-align: center;
    padding-top: 100px;
    background-image: url("./images/donation13.jpg");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 80px;
}

.text {
    font-size: 60px;
}

.textP {
    font-size: 20px;
}

.DonateBtn {
    padding: 20px;
    color: white;
    background: #ff8f3f;
    border: none;
    font-weight: bold;
    border-radius: 3px;
    font-size: 17px;
}

.donateText {
    text-align: center;
    margin-top: 100px;
}

.donateTitle {
    font-size: 50px;
}

.amountbox {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    color: gray;
}

.random {
    background: #80808014;
    padding: 20px;
    margin-left: 10px;
    border-radius: 5px;
}

.second {
    background: #df50502e;
    padding: 20px;
    margin-left: 10px;
    border: 2px solid #990e0e80;
    color: #df5050;
    border-radius: 5px;
}

hr {
    width: 670px;
}

.inputamount {
    margin-top: 50px;
}

.Otheramount {
    color: gray;
    font: 6px;
}